.centrado{
    text-align: center;
    align-items: center;
    vertical-align: middle;
  }
.nombreabajo{
  font-size: 150%;
  text-align: center;
  margin-bottom: 15px;
}

.nombre{
  font-size: 150%;
  text-align: center;
  margin-bottom: 15px;
}
.jugador {
  height: 150px !important;
  width: auto !important;
  align-items: center;
  
  }
  .segmento{
    font-size: 150%;
    color: black;
    font-weight: bold;
    

  }
  .box{
    font-size: 100%;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .bold{
    font-weight: bold;
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cajasegmento{
 
    margin: 10px !important;

    

  }
  
     .my-custom-class .action-sheet-group {
    background: #e5e5e5;
  }  
  

.input {
  background-color: rgba(255, 166, 0, 0.623);
  text-align: center;
}

.acumulados {
  background-color: rgba(255, 0, 0, 0.726);
  text-align: center;
}

ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
}