<ion-content>
  <ion-segment  [value]="Valor" (ionChange)="segmentChanged($event)" >
    <ion-segment-button class="cajasegmento" value="1">
      <ion-label class="segmento">Juego</ion-label>
    </ion-segment-button>
    <ion-segment-button class="cajasegmento" value="2">
      <ion-label class="segmento">Caja de anotación</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="Valor==1">
    <ion-row >
      <ion-col *ngFor="let item of equipo2; index as i">
        <ion-card (click)=" presentActionSheet(1,i)">
          <ion-card-header class="centrado">
            <ion-card-title class="nombre">
                  #{{item.numero}} {{item.name}}
                </ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="centrado">

            <ion-img class="jugador" src="/assets/img/jugadores/{{item.img}}"></ion-img><ion-label [ngClass]="{'input':  item.faltas===4,'acumulados':  item.faltas>4}" >{{item.pts}} Pts - {{item.reb}} Rebs<br>{{item.ast}} Asist - {{item.faltas}} Faltas</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>






    <ion-row>
      <ion-col>
        <ion-card class="centrado">
          <ion-card-header >
            <ion-card-subtitle>Proximo saque</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            WARRIORS

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="centrado">
          <ion-card-header >
            <ion-card-subtitle>Tiempo de tiro</ion-card-subtitle>
           
          </ion-card-header>
        
          <ion-card-content>
          24
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="centrado">
          <ion-card-header >
            <ion-card-subtitle>Tiempo restante</ion-card-subtitle>

          </ion-card-header>
        
          <ion-card-content>
RELOJ
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card  class="centrado">
          <ion-card-header>
            <ion-card-subtitle>Marcador</ion-card-subtitle>
            
          </ion-card-header>
            
          <ion-card-content>
            
          {{local}}  -  {{visitante}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card class="centrado">
          <ion-card-header >
            <ion-card-subtitle>Faltas de equipo</ion-card-subtitle>
            
            </ion-card-header>
        
          <ion-card-content>
            <ion-col [ngClass]="{'input':  faltaslocal===4,'acumulados':  faltaslocal>4}">{{faltaslocal}}</ion-col>
              <ion-col>-</ion-col>
              <ion-col [ngClass]="{'input':  faltasvisitante===4,'acumulados':  faltasvisitante>4}">{{faltasvisitante}}</ion-col>  
             
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row >
      <ion-col *ngFor="let item of equipo1; index as j">
        <ion-card (click)=" presentActionSheet(0,j)">
        
          <ion-card-content class="centrado">
            <ion-label [ngClass]="{'input':  item.faltas===4,'acumulados':  item.faltas>4}" >{{item.pts}} Pts - {{item.reb}} Rebs<br>{{item.ast}} Asist - {{item.faltas}} Faltas</ion-label>

            <ion-img class="jugador" src="/assets/img/jugadores/{{item.img}}"></ion-img>
        
        </ion-card-content>
        <ion-card-title class="nombreabajo">
          #{{item.numero}} {{item.name}}
        </ion-card-title>
        
        </ion-card>
      </ion-col>
    </ion-row>
    
    
    
    </ion-grid>
    <ion-grid *ngIf="Valor==2" class="box">
      <label class="bold">LOCAL</label>
      <ion-row class="bold"><ion-col>Numero</ion-col>
      <ion-col>Jugador</ion-col>
      <ion-col>Puntos</ion-col>
      <ion-col>Rebotes</ion-col>
      <ion-col>Asistencias</ion-col>
      <ion-col>Faltas</ion-col>
    </ion-row>
        <ion-row *ngFor="let item of c; index as i" [ngClass]="{'input':  item.faltas===4,'acumulados':  item.faltas>4}" >
          <ion-col>#{{item.numero}}</ion-col> <ion-col> {{item.name}}</ion-col>
             <ion-col>{{item.pts}}</ion-col>
             <ion-col>{{item.reb}}</ion-col>
             <ion-col>{{item.ast}}</ion-col>
             <ion-col>{{item.faltas}}</ion-col>
          
                 </ion-row>
      
  
  
              <br><label class="bold">VISITANTE</label>
              
              <ion-row class="bold"><ion-col>Numero</ion-col>
                 <ion-col>Jugador</ion-col>
                 <ion-col>Puntos</ion-col>
                 <ion-col>Rebotes</ion-col>
                 <ion-col>Asistencias</ion-col>
                 <ion-col>Faltas</ion-col>
               </ion-row>
                   <ion-row *ngFor="let item of a; index as j" [ngClass]="{'input':  item.faltas===4,'acumulados':  item.faltas>4}" >
                     <ion-col>#{{item.numero}}</ion-col> <ion-col> {{item.name}}</ion-col>
                        <ion-col>{{item.pts}}</ion-col>
                        <ion-col>{{item.reb}}</ion-col>
                        <ion-col>{{item.ast}}</ion-col>
                        <ion-col>{{item.faltas}}</ion-col>
                     
                            </ion-row>
                 
             
             
             
 
                </ion-grid>
</ion-content>
