<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplicación
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aplicación pro</strong>
    <p>Entra al link <a target="_blank" rel="noopener noreferrer" href="https://youtu.be/dQw4w9WgXcQ">titok pro</a></p>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Se venden acciones</ion-card-subtitle>
        <ion-card-title>15 dlls c/u</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
         <button ion-button
         [routerLink]="['/anotacion']"
        >
         Ir a hoja de anotación
  </button>
  <button ion-button
  [routerLink]="['/timer']"
 >
  Ir timer
</button>
        Depositen ya
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
